<div class= "row mt-2">

	<div class= "col-md-8">
		<%= render "layouts/shared/products_banner" %>
		<div class="bhgxx2 col-12-12 col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<div class="_1k1QCg _3QNwd7">
				<ul class="row">
					<div class="col col-6-12 ">
						<button class="btn btn-warning">
							<!-- -->ADD TO CART
						</button>
					</div>
					<div class="col col-6-12">
						<button class="btn btn-info" type="button">
							<!-- -->BUY NOW</button>
					</div>
				</ul>
			</div>
		</div>

		</div>

	<div class= "col-md-4">
		<h3>Title: </h3>
		<hr>
		<p><%= @product.title %></p>
		<hr>
		<h3>Description: </h3>
		<p><%= @product.description %></p>
		<hr>
		<h3>Price: </h3>
		<p>$<%= @product.price %></p>

		<%= link_to 'Back', products_path %>
	</div>
</div>


