<div class= "row mt-2">
  
  <div class= "col-md-7">
    <%= image_tag product_image(@product.main_image_url, 'main') %>
  </div>

  <div class= "col-md-5">
    <p><%= @product.title %></p>
    <p><%= @product.description %></p>
    <p><%= @product.price %></p>

  </div>
</div>

<%= link_to 'Back', products_path %>
