<div class= "row mt-2">
  
  <div class= "col-md-8">
    <%= image_tag product_image(@product.main_image_url, 'main') %>
  </div>

  <div class= "col-md-4">
    <p><%= @product.title %></p>
    <p><%= @product.description %></p>
    <p><%= @product.price %></p>

    <%= link_to 'Back', products_path %>
  </div>
</div>

